.login-form {
   display: flex;
   flex-direction: column;
   width: 380px;
   padding: 40px 30px 30px 30px;
   background: #ffffff;
   border: 1px solid rgba(0, 0, 0, 0.12);
   box-shadow: $borderShadow;
   border-radius: 4px;
   &__title {
      margin-bottom: 20px;
   }

   &__input-item {
      margin-bottom: 10px;
      @extend %default-input;
   }

   &__button {
      margin-bottom: 30px;
      @extend %button;
      @extend %button-purple;
   }

   &__link-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      span {
         color: #000;
      }
   }

   &__link-item {
      @extend %button;
      @extend %button-transparent;
      padding: 12px 26px;
   }
}

@media (max-width: 575.98px) {
   .login-form {
      max-width: 100%;
      border: 0px;
      box-shadow: none;
   }
}