extends ../../layout

block .content
   .main-page__wrapper
      .main-page__content
         include ./../../components/searchForm/searchForm.pug
         .main-page__content-tagline
            | Лучшие номера для вашей работы, отдыха и просто вдохновения
   