.apartment-reviews
  .apartment-reviews__top
    .apartment-reviews__title
      | Отзывы посетителей номера
    .apartment-reviews__number-reviews
      | 2 отзыва
  .apartment-reviews__list
    .review-item
      .review-item__author
        .review-item__author-avatar
          img(src='assets/user-one.png' alt='avatar')
        .review-item__review-likes.review-item__review-likes_active
          | 12
      .review-item__content
        .review-item__author-name
          | Мурад Сарафанов
        .review-item__review-date
          | 5 дней назад
        .review-item__review-text
          | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей. 
    .review-item
      .review-item__author
        .review-item__author-avatar
          img(src='assets/user-two.png' alt='avatar')
        .review-item__review-likes
          | 4
      .review-item__content
        .review-item__author-name
          | Патрисия Стёклышкова
        .review-item__review-date
          | Неделю назад
        .review-item__review-text
          | Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.
