.apartment-card
  .apartment-card__slider
    .apartment-card__slider-container
      .apartment-card__slider-item
        img(src='assets/apartment-one.png' alt='')
      .apartment-card__slider-item
        img(src='assets/apartment-two.png' alt='')
      .apartment-card__slider-item
        img(src='assets/apartment-three.png' alt='')
      button.apartment-card__slider-btn-prev
        svg 
          use(xlink:href='assets/sprite.svg#slider-arrow-prev')
      button.apartment-card__slider-btn-next
        svg 
          use(xlink:href='assets/sprite.svg#slider-arrow-next')
      .apartment-card__slider-dots
         span.apartment-card__slider-dot
         span.apartment-card__slider-dot
         span.apartment-card__slider-dot
  .apartment-card__info
    .apartment-card__info-top
      .apartment-card__info-number
        h2 888
        span люкс
      .apartment-card__info-price
        b 9 990₽
        |  в сутки
    .apartment-card__info-bottom
      .apartment-card__info-rating
        svg
          use(xlink:href='assets/sprite.svg#star')
        svg
          use(xlink:href='assets/sprite.svg#star')
        svg
          use(xlink:href='assets/sprite.svg#star')
        svg
          use(xlink:href='assets/sprite.svg#star')
        svg
          use(xlink:href='assets/sprite.svg#star-outline')
      .apartment-card__info-review
        b 145
        |  Отзывов