<div class="apartment-card">
   <div class="apartment-card__slider">
      <div class="apartment-card__slider-container">
         <div class="apartment-card__slider-item">
            <img src="assets/apartment.png" alt="">
         </div>
         <div class="apartment-card__slider-item">
            <img src="assets/apartment.png" alt="">
         </div>
         <div class="apartment-card__slider-item">
            <img src="assets/apartment.png" alt="">
         </div>
         <button class="apartment-card__slider-btn-prev" onclick="prevSlide()">
   
         </button>
         <button class="apartment-card__slider-btn-next">
            
         </button>
      </div>
      <div class="apartment-card__slider-dots">
         <span class="apartment-card__slider-dot"></span>
         <span class="apartment-card__slider-dot"></span>
         <span class="apartment-card__slider-dot"></span>
      </div>
   </div>
   <div class="apartment-card__info">
      <div class="apartment-card__info-top">
         <div class="apartment-card__info-number">
            <h2>№ 888</h2>
            <span>люкс</span>
         </div>
         <div class="apartment-card__info-price">
            9 990₽ в сутки
         </div>
      </div>
      <div class="apartment-card__info-bottom">
         <div class="apartment-card__info-rating">
            <img src="assets/star.svg" alt="">
            <img src="assets/star.svg" alt="">
            <img src="assets/star.svg" alt="">
            <img src="assets/star.svg" alt="">
            <img src="assets/star-outline.svg" alt="">
         </div>
         <div class="apartment-card__info-review">
            145 Отзывов
         </div>
      </div>
   </div>
</div>