<form action="" class="registration-form">
   <h1 class="registration-form__title">
      Регистрация аккаунта
   </h1>
   <input type="text" class="registration-form__input-item" placeholder="Имя">
   <input type="text" class="registration-form__input-item" placeholder="Фамилия">
   <div class="registration-form__radio-buttons">
      <div class="registration-form__radio-item">
         <input type="radio" id="male" name="gender" class="registration-form__radio-item" value="male">
         <label for="male">Мужчина</label>
      </div>
      <div class="registration-form__radio-item">
         <input type="radio" id="female" name="gender" class="registration-form__radio-item" value="female">
         <label for="female">Женщина</label>
      </div>
   </div>
   <h3 class="registration-form__subtitle">
      дата рождения
   </h3>
   <input type="date" class="registration-form__input-date">
   <h3 class="registration-form__subtitle">
      данные для входа в сервис
   </h3>
   <input type="email" class="registration-form__input-item" placeholder="Email">
   <input type="password" class="registration-form__input-item" placeholder="Пароль">
   <div class="registration-form__switch-block">
      <label for="" class="registration-form__switch">
         <input type="checkbox" id="subscribe" name="subscribe" value="subscribe">
         <span class="registration-form__switch-slider"></span>
      </label>
      <span>Получать спецпредложения</span>
   </div>
   <button type="subscribe" class="registration-form__buton">
      перейти к оплате
   </button>
   <div class="registration-form__link-block">
      <span>Уже есть аккаунт на Toxin</span>
      <a href="#" class="registration-form__link-item">
         войти
      </a>
   </div>
</form>