form.registration-form(action='')
  h1.registration-form__title
    | Регистрация аккаунта
  input.registration-form__input-item(type='text' placeholder='Имя')
  input.registration-form__input-item(type='text' placeholder='Фамилия')
  .registration-form__radio-block
    label.registration-form__radio-item(for='male')
      input#male(type='radio' name='gender' value='male' checked)
      span.registration-form__radio-button
      span Мужчина
    label.registration-form__radio-item(for='female')
      input#female(type='radio' name='gender' value='female')
      span.registration-form__radio-button
      span Женщина
  h3.registration-form__subtitle
    | дата рождения
  input.registration-form__input-date(type='date' name='birthdayDate' placeholder='ДД.ММ.ГГГГ')
  h3.registration-form__subtitle
    | данные для входа в сервис
  input.registration-form__input-item(type='email' placeholder='Email')
  input.registration-form__input-item(type='password' placeholder='Пароль')
  .registration-form__switch-block
    label.registration-form__switch(for='switch')
      input#switch(type='checkbox' name='subscribe' value='subscribe')
      span.registration-form__switch-slider
    span Получать спецпредложения
  button.registration-form__button(type='subscribe')
    | перейти к оплате
  .registration-form__link-block
    span Уже есть аккаунт на Toxin
    a.registration-form__link-item(href='#')
      | войти
