.search-form {
   display: flex;
   flex-direction: column;
   width: 380px;
   padding: 40px 30px 30px 30px;
   background: #ffffff;
   border: 1px solid rgba(0, 0, 0, 0.12);
   box-shadow: $borderShadow;
   border-radius: 4px;
   &__title {
      margin-bottom: 20px;
   }

   &__date-section {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   &__date-item {
      flex: 0 1 150px;
      position: relative;
      input {
         width: 100%;
         @extend %default-input;
      }
      &:after {
         content: "";
         background: url("./../assets/header-menu-arrow.svg") no-repeat center;
         position: absolute;
         width: 20px;
         height: 20px;
         right: 13px;
         top: 32px;
         transition: 0.2s;
      }
      &.search-form__date-item_active {
         &:after {
            transform: rotate(-180deg);
         }
      }
   }

   &__subtitle {
      margin-bottom: 5px;
   }

   &__arrival {
   }
   &__departure {
   }

   &__guest-block {
      margin-bottom: 30px;
      @extend %default-input;
      position: relative;
      overflow: visible;
      &:has(p:focus) {
         border-color: $dark50;
      }
      p {
         display: block;
         position: relative;
         cursor: pointer;
         outline: none;
         color: $dark75;
         &:after {
            content: "";
            background: url("./../assets/header-menu-arrow.svg") no-repeat center;
            position: absolute;
            width: 20px;
            height: 20px;
            right: 0px;
            top: 0px;
            transition: 0.2s;
         }
         &._active {
            cursor: default;
            &:after {
               transform: rotate(-180deg);
            }
         }
      }
      &.search-form__guest-block_active {
         border: 1px solid $dark50;
         border-radius: 4px 4px 0px 0px;
      }
   }

   &__guest-dropdown {
      display: none;
      position: absolute;
      bottom: 0px;
      left: 0px;
      flex-direction: column;
      width: calc(100% + 2px);
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $dark;
      background: #fff;
      outline: none;
      border: 1px solid $dark25;
      border-radius: 4px;
      padding: 12px 15px 12px 15px;
      overflow: hidden;
      &.search-form__guest-dropdown_active {
         display: flex;
         height: max-content;
         cursor: default;
         border: 1px solid $dark50;
         border-top: none;
         border-radius: 0px 0px 4px 4px;
         top: 43px;
         left: -1px;
         z-index: 15;
      }
   }

   &__dropdown-item {
      padding: 10px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      label {
         font-weight: 700;
         font-size: 12px;
         line-height: 15px;
         text-transform: uppercase;
         color: $dark;
      }
   }

   &__dropdown-counter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex: 0 0 90px;
      input {
         width: 30px;
         text-align: center;
         border: none;
         outline: none;
         font-weight: 700;
         font-size: 12px;
         line-height: 15px;
         text-transform: uppercase;
         color: $dark;
      }
      button {
         width: 30px;
         height: 30px;
         background-color: transparent;
         border: 1px solid $dark25;
         border-radius: 50%;
         color: $dark25;
         font-size: 20px;
         font-weight: 700;
         transition: all .2s ease;
         cursor: pointer;
         outline: none;
         &:hover,
         &:focus {
            border-color: $green;
            color: $green;
         }
         &:disabled {
            pointer-events: none;
            opacity: 0.3;
            cursor: default;
         }
      }
   }

   &__dropdown-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   &__button {
      @extend %button;
      @extend %button-purple;
   }
}

#dropdown-btn-reset,
#dropdown-btn-submit {
   margin-top: 10px;
   border: none;
   background: #fff;
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   text-transform: uppercase;
   color: $purple;
   cursor: pointer;
   transition: all .2s ease;
   outline: none;
   &:hover,
   &:focus {
      color: $green;
   }
}

#dropdown-btn-reset {
   visibility: hidden;
   &._active {
      visibility: visible;
   }
}

@media (max-width: 575.98px) {
   .search-form {
      max-width: 100%;
      border: 0px;
      box-shadow: none;
      &__date-item {
         flex: 0 1 120px;
         &:after {
            display: none;
         }
      }
   }
}
