form.login-form(action='')
  h1.login-form__title
    | Войти
  input.login-form__input-item(type='email' placeholder='Email')
  input.login-form__input-item(type='password' placeholder='Пароль')
  button.login-form__button(type='subscribe')
    | перейти к оплате
  .login-form__link-block
    span Уже есть аккаунт на Toxin?
    a.login-form__link-item(href='#')
      | войти