<form action="" class="search-form">
   <h1 class="search-form__title">
      Найдём номера под ваши пожелания
   </h1>
   <div class="search-form__date-section">
      <div class="search-form__date-item">
         <h3 class="search-form__subtitle">
            прибытие
         </h3>
      </div>
      <div class="search-form__date-item">
         <h3 class="search-form__subtitle">
            выезд
         </h3>
      </div>
   </div>
   <h3 class="search-form__subtitle">
      гости
   </h3>
   <div class="search-form__guest-block">
      <p>Сколько гостей</p>
      <div class="search-form__guest-dropdown">
         <div class="search-form__dropdown-item">
            <label for="adult">взрослые</label>
            <div class="search-form__dropdown-counter">
               <button class="search-form__counter-btn-minus" type="button">
                  -
               </button>
               <input type="number" id="adult" name="'adult">
               <button class="search-form__counter-btn-plus" type="button">
                  +
               </button>
            </div>
         </div>
         <div class="search-form__dropdown-item">
            <label for="children">дети</label>
            <div class="search-form__dropdown-counter">
               <button class="search-form__counter-btn-minus" type="button">
                  -
               </button>
               <input type="number" id="children" name="children">
               <button class="search-form__counter-btn-plus" type="button">
                  +
               </button>
            </div>
         </div>
      </div>
   </div>
   <button class="search-form__button">
      подобрать номер
   </button>
</form>