header.header
  .container
    .header-container
      .header__logo
        img(src='assets/Logo.svg' alt='логотип')
      div.header__burger
        span
      nav.header__menu
        ul.header__list
          li.header__list-item 
            a(href='#') О нас
          li.header__list-item 
            span Услуги 
            ul.header__submenu 
              li.header__submenu-item
                a(href='#') Услуги 1 
              li.header__submenu-item
                a(href='#') Услуги 2 Услуги 2 Услуги 2
              li.header__submenu-item
                a(href='#') Услуги 3
          li.header__list-item 
            a(href='#') Вакансии
          li.header__list-item
            a(href='#') Новости
          li.header__list-item
            span Соглашения
            ul.header__submenu 
              li.header__submenu-item
                a(href='#') Соглашения 1 
              li.header__submenu-item
                a(href='#') Соглашения 2
              li.header__submenu-item
                a(href='#') Соглашения 3
        .header__autorization-block
          a.header__button.header__button_transparent(href='#') войти
          a.header__button.header__button_purple(href='#') зарегистрироваться