.apartment-rules
  .apartment-rules__section
    h2.apartment-rules__section-title
      | Правила
    .apartment-rules__list
      .apartment-rules__list-item
        | Нельзя с питомцами
      .apartment-rules__list-item
        | Без вечеринок и мероприятий
      .apartment-rules__list-item
        | Время прибытия — после 13:00,
        | а выезд до 12:00
  .apartment-rules__cancel
    h2.apartment-rules__cancel-title
      | Отмена
    .apartment-rules__cancel-text
      | Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный
      | возврат за вычетом сбора за услуги.