<div class="apartment-rules">
   <div class="apartment-rules__section">
      <h2 class="apartment-rules__section-title">
         Правила
      </h2>
      <div class="apartment-rules__list">
         <div class="apartment-rules__list-item">
            Нельзя с питомцами
         </div>
         <div class="apartment-rules__list-item">
            Без вечеринок и мероприятий
         </div>
         <div class="apartment-rules__list-item">
            Время прибытия — после 13:00,
            а выезд до 12:00
         </div>
      </div>
   </div>
   <div class="apartment-rules__cancel">
      <h2 class="apartment-rules__cancel-title">
         Отмена
      </h2>
      <div class="apartment-rules__cancel-text">
         Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный
         возврат за вычетом сбора за услуги.
      </div>
   </div>
</div>