.apartment-chart
  h2.apartment-chart__title
    | Впечатления от номера
  .apartment-chart__content
    .apartment-chart__chart-container
      .apartment-chart__chart-item
      .apartment-chart__chart-inner
        .apartment-chart__chart-text
          span 260 
          | голосов
    .apartment-chart__list
      .apartment-chart__list-item.excellent
        | Великолепно
      .apartment-chart__list-item.good
        | Хорошо
      .apartment-chart__list-item.bad
        | Удовлетворительно
      .apartment-chart__list-item.terrible
        | Разочарован