%button {
   display: block;
   text-align: center;
   border-radius: 22px;
   padding: 14px 20px 15px 20px;
   font-size: 12px;
   line-height: 15px;
   text-decoration: none;
   text-transform: uppercase;
   font-weight: 700;
   border: none;
   cursor: pointer;
   outline: none;
}

%button-transparent {
   background-color: #fff;
   border: 2px solid $purple;
   color: $purple;
   &:hover,
   &:focus {
      color: $green;
      border: 2px solid $green;
      transition: 0.3s all ease;
   }
}

%button-purple {
   background: $primaryGradient;
   color: #fff;
   position: relative;
   &:hover,
   &:focus {
      background: $secondaryGradient;
      transition: 0.3s all ease;
   }
   &::after {
      content: '';
      position: absolute;
      width: 18px;
      height: 18px;
      right: 13px;
      top: 13px;
      background: url('./../assets/arrow_forward.svg')
   }
}

%default-link {
   color: $dark50;
   text-decoration: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   outline: none;
   &:hover,
   &:focus {
      color: $dark;
      transition: 0.3s ease all;
   }
}

%default-input {
   width: 100%;
   min-height: 44px;
   font-weight: 400;
   font-size: 14px;
   line-height: 18px;
   color: $dark;
   outline: none;
   border: 1px solid $dark25;
   border-radius: 4px;
   padding: 12px 15px 12px 15px;
   overflow: hidden;
   &:hover,
   &:focus{
      border: 1px solid $dark50;
   }
}
