footer.footer
  .container
    .footer__info
      .footer__logo
        .footer__logo-image
          img(src='assets/Logo.svg' alt='логотип')
        .footer__logo-info
          | Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные
          | взгляды»
      .footer__links
        h3.footer__info-title навигация
        ul.footer__links-list
          li.footer__links-item
            a(href='#') О нас
          li.footer__links-item
            a(href='#') Новости
          li.footer__links-item
            a(href='#') Служба поддержки
          li.footer__links-item
            a(href='#') Услуги
      .footer__links
        h3.footer__info-title о нас
        ul.footer__links-list
          li.footer__links-item
            a(href='#') О сервисе
          li.footer__links-item
            a(href='#') Наша команда
          li.footer__links-item
            a(href='#') Вакансии
          li.footer__links-item
            a(href='#') Инвесторы
      .footer__links
        h3.footer__info-title служба поддержки
        ul.footer__links-list
          li.footer__links-item
            a(href='#') Соглашения
          li.footer__links-item
            a(href='#') Сообщества
          li.footer__links-item
            a(href='#') Связь с нами
      .footer__subscribe
        h3.footer__info-title подписка
        .footer__subscribe-info Получайте специальные предложения и новости сервиса
        form.footer__subscribe-form(action='#')
          input.footer__subscribe-input(type='email' placeholder='Email')
          button.footer__subscribe-button(type='button')
            svg
              use(xlink:href='assets/sprite.svg#arrow-footer')
  .footer__line
  .container
    .footer__footer
      .footer__footer-license Copyright © 2018 Toxin отель. Все права защищены.
      .footer__footer-socialmedia
        a(href='#')
          svg
            use(xlink:href='assets/sprite.svg#twitter')
        a(href='#')
          svg
            use(xlink:href='assets/sprite.svg#facebook')
        a(href='#')
          svg
            use(xlink:href='assets/sprite.svg#instagram')
