.range-slider
  .range-slider__info
    h3.range-slider__title
      | диапазон цены
    .range-slider__controls
      input#minPrice.range-slider__control-input(type='text')
      input#maxPrice.range-slider__control-input(type='text')
  .range-slider__line-container
    .range-slider__line-outer
    .range-slider__line-inner
    #minPricePointer.range-slider__pointer
    #maxPricePointer.range-slider__pointer
  .range-slider__footer-text
    | Стоимость за сутки пребывания в номере