<div class="range-slider">
   <div class="range-slider__info">
      <div class="range-slider__title">
         диапазон цены
      </div>
      <div class="range-slider__controls">
         <input type="text" id="minPrice" class="range-slider__control-input">
         <input type="text" id="maxPrice" class="range-slider__control-input">
      </div>
   </div>
   <div class="range-slider__line-container">
      <div class="range-slider__line-outer"></div>
      <div class="range-slider__line-inner"></div>
      <div class="range-slider__pointer" id="minPricePointer"></div>
      <div class="range-slider__pointer" id="maxPricePointer"></div>
   </div>
   <div class="range-slider__footer-text">
      Стоимость за сутки пребывания в номере
   </div>
</div>