@import "./global/normalize";
@import "./global/fonts";
@import "./global/variables";
@import "./global/common-elements";

h1,
h2,
h3,
body {
   font-family: "Montserrat";
   font-style: normal;
}

h1 {
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   color: $dark;
}

h2 {
   font-weight: 700;
   font-size: 19px;
   line-height: 23px;
   color: $dark;
}

h3 {
   font-weight: 700;
   font-size: 12px;
   line-height: 15px;
   text-transform: uppercase;
   color: $dark;
}

body {
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: $dark75;
   background-color: #E5E5E5;
   &.lock {
      overflow: hidden;
   }
}
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}
.content {
   flex: 1 1 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px 0px;
}
.container {
   max-width: 1190px;
   padding: 0px 15px;
   margin: 0 auto;
}

@import "../components/header/scss/header";
@import "../components/footer/scss/footer";
@import "../components/registrationForm/scss/registrationForm";
@import "../components/apartmentCard/scss/_apartmentCard";
@import "../components/loginForm/scss/_loginForm";
@import "../components/searchForm/scss/_searchForm";
@import "../components/priceForm/scss/_priceForm";
@import "../components/rangeSlider/scss/_rangeSlider";
