.apartment-info
  h2.apartment-info__title
    | Сведения о номере
  .apartment-info__features-list
    .feature-item
      .feature-item__image
        svg
          use(xlink:href='assets/sprite.svg#emoji-smile')
      .feature-item__description
        .feature-item__title
          | Комфорт
        .feature-item__text
          | Шумопоглощающие стены
    .feature-item
      .feature-item__image
        svg
          use(xlink:href='assets/sprite.svg#emoji-city')
      .feature-item__description
        .feature-item__title
          | Удобство
        .feature-item__text
          | Окно в каждой из спален
    .feature-item
      .feature-item__image
        svg
          use(xlink:href='assets/sprite.svg#emoji-fire')
      .feature-item__description
        .feature-item__title
          | Уют
        .feature-item__text
          | Номер оснащён камином
